{
    "presets": [
      [
        "env", {
          "modules": false,
          "targets": {
            "node": "current"
          }
        }
      ]
    ],
    "plugins": [
        ["transform-runtime", {
          "polyfill": false,
          "regenerator": true
        }]
    ]
  }